/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Pacifico', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .container {
    min-width: 500px;
    width: 90%;
  }
}
.about-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 48rem;
  height: 15rem;
  margin: 0 1rem;
  background-image: linear-gradient(to right, rgba(213, 194, 111, 0.6), rgba(166, 180, 40, 0.25)), url(../images/headerbgsm.jpg);
}
.about-top .title {
  color: #663399;
  font-family: 'Pacifico', cursive;
  padding: 1.5rem 5rem 5rem 0;
}
.about-top .logo {
  width: 10rem;
  height: 10rem;
  padding-top: 1rem;
}
.about-top .head-nav {
  @display Flex(flex-end, space-between);
}
.about-top .head-nav a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  padding: 0 1rem;
  transition: all 0.5s ease-in-out;
}
.about-top .head-nav a:hover {
  font-size: 225%;
}
.container {
  width: 100%;
  margin: 0 1rem;
}
.features {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
  width: 48rem;
}
.features .features-head {
  background-image: linear-gradient(to right, #d2691e, #663399);
  -webkit-background-clip: text;
  color: transparent;
  padding: 1rem;
  height: 6rem;
}
.features ul {
  color: #663399;
  font-size: 1.6rem;
  padding: 10px 0;
  line-height: 1.2;
}
.button .sign-up {
  margin: 1rem 5rem;
  width: 40rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #e77727;
  color: #663399;
  border-radius: 2.5rem;
  border: #663399 solid 1px;
  transition: all 0.2s ease-in-out;
}
.button .sign-up a {
  text-decoration: none;
}
.button .sign-up:hover {
  margin: 1rem 4rem;
  width: 42rem;
  height: 5.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #663399;
  color: #d2691e;
  border-radius: 2.5rem;
  border: #d2691e solid 1px;
}
.button .sign-up:hover a {
  text-decoration: none;
  color: #d2691e;
}
.button .sign-up:active {
  margin: 1rem 5rem;
  width: 40rem;
  height: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #d2691e;
  color: #663399;
  border-radius: 2.5rem;
  border: #663399 solid 1px;
  transition: all 0.2s ease-in-out;
}
.button .sign-up:active a {
  text-decoration: none;
  color: #663399;
}
.composition {
  position: relative;
  margin: 8rem 3.4rem;
  width: 40rem;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  top: -2rem;
  left: 0;
}
.composition__photo--p2 {
  top: 2rem;
  right: 0;
}
.composition__photo--p3 {
  top: 10rem;
  left: 20%;
}
.composition__photo:hover {
  outline: 1.5rem solid #663399;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}
.container {
  width: 48rem;
  margin: 10px 0;
}
.container .developers {
  text-align: center;
  margin: 1rem 1rem;
  width: 100%;
}
.container .ui {
  text-align: left;
  margin: 1rem 0;
}
.container .ui .ui-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  margin: 10px 0;
  width: 95%;
}
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: radial-gradient(ellipse at center, #268026 20%, #be257c);
}
.card__side--back-2 {
  background-image: radial-gradient(ellipse at center, #008B8B 20%, #103A9B);
}
.card__side--back-3 {
  background-image: radial-gradient(ellipse at center, #663399 25%, #3A2EFF);
}
.card__side--back-4 {
  background-image: radial-gradient(#9240FB, #FB2FF2);
}
.card__side--back-5 {
  background-image: radial-gradient(#9240FB, #FFED30);
}
.card__side--back-6 {
  background-image: radial-gradient(#1E90FF, #3A2EFF);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: multiply;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.card__picture--1 {
  background: #268026;
}
.card__picture--2 {
  background: #008B8B;
}
.card__picture--3 {
  background: #663399;
}
.card__picture--4 {
  background: #9240FB;
}
.card__picture--5 {
  background: #228B22;
}
.card__picture--6 {
  background: #1E90FF;
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: absolute;
  top: 10rem;
  width: 100%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background: #268026;
}
.card__heading-span--2 {
  background: #008B8B;
}
.card__heading-span--3 {
  background: #663399;
}
.card__heading-span--4 {
  background: #9240FB;
}
.card__heading-span--5 {
  background: #228B22;
}
.card__heading-span--6 {
  background: #268026;
}
.card__details {
  padding: 3rem;
}
.card__details img {
  clip-path: circle(50% at 50% 50%);
  margin-top: 11rem;
}
.card__full {
  margin: 70px auto;
  width: 90%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.card p {
  color: white;
  font-size: 1.8rem;
  padding: 2rem;
}
.card .card_nav {
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.card a {
  margin: 0 50px;
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}
footer {
  width: 50rem;
  height: 5rem;
  margin-top: 39rem;
  text-align: center;
  color: #e77727;
  font-size: 1.2rem;
  background-image: linear-gradient(0deg, rgba(102, 51, 153, 0.4), rgba(231, 119, 39, 0.75) 40%, rgba(231, 119, 39, 0.75) 60%, rgba(102, 51, 153, 0.4)), url(../images/footerbgsm.jpg);
}
footer p {
  color: #663399;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.5rem 0;
}
.connect {
  width: 48rem;
  height: 12rem;
  margin: 1rem 1rem 0 1rem;
  padding: 0;
  background-image: linear-gradient(to bottom right, rgba(231, 119, 39, 0.5), rgba(102, 51, 153, 0.5)), url(../images/headerbgsm.jpg);
}
.connect .reg {
  margin-top: 3.5rem;
  margin-left: 1.4rem;
  width: 22rem;
  height: 5rem;
  background: rgba(102, 51, 153, 0.6);
  border: 0.1rem solid #663399;
  border-radius: 2rem;
  color: #d2691e;
  font-size: 2rem;
  font-weight: 700;
}
.connect .login {
  margin-top: 3.5rem;
  margin-left: 1rem;
  width: 22rem;
  height: 5rem;
  background: rgba(231, 119, 39, 0.6);
  border: 1px solid #d2691e;
  border-radius: 2rem;
  color: #663399;
  font-size: 2rem;
  font-weight: 700;
}
.footlog {
  padding-top: 0;
  margin-top: 0;
}
