.container {
    width: 90%;
    margin: 10px;

}

.features {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    width: 48rem;

    .features-head {
        background-image: linear-gradient(to right, @sunset, @midnight);
        -webkit-background-clip: text;
        color: transparent;
        padding: 1rem;
        height: 6rem;
    }

    ul {
        color: @midnight;
        font-size: 1.6rem;
        padding: 10px 0;
        line-height: 1.2;
    }
}

.button {

    .sign-up {
        width: 48rem;
        height: 5rem;
        font-size: 1.8rem;
        background-color: @light-sunset;
        color: @midnight;
        border-radius: 2rem;
        border: @midnight solid 1px;
        
    }
}

.composition {
    position: relative;
    margin: 8rem 3.4rem;
    width: 40rem;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
        border-radius: 0.3rem;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1 {
            top: -2rem;
            left: 0;
        }

        &--p2 {
            top: 2rem;
            right: 0;
        }

        &--p3 {
            top: 10rem;
            left: 20%;
        }

        &:hover {
            outline: 1.5rem solid @midnight;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, .5);
            z-index: 20;

            
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}