.container {
    
    width: 48rem;
    margin: 1rem auto;

    @media @desktop {
        width: 100rem;
        margin: 1rem auto;
    }

    .developers {
        text-align: center;
        margin: 1rem auto;
        width: 100%;
        
        @media @desktop {
            text-align: center;
            margin: 1rem auto;
            width: 100%; 
        }

    .ui {
        text-align: left;
        margin: 1rem 0;

        @media @desktop {
            text-align: left;
            margin: 1rem auto;
        }

        .ui-title {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            margin-bottom: 1rem;

            @media @desktop {
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
            }
        }

        .cards-1 {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }        
    }       
}
.footabout {
    margin-top: 1rem;

    @media @desktop {
        margin-top: 1rem;        
    }
}}