.about-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 47rem;
    height: 31.8rem;
    background-image: linear-gradient(to right, rgba(213, 194, 111, 0.60), rgba(166, 180, 40, 0.25)), url(../images/headerbgsm.jpg);

    .title {
        color: @midnight;
        font-family: 'Pacifico', cursive;
        padding: 1.5rem 5rem 22rem 0;
    }

    .logo {
        width: 10rem;
        height: 10rem;
        padding-top: 1rem;
    }

    .head-nav {
        @displayFlex(flex-end, space-between);

        a {
            text-decoration: none;
            color: white;
            font-size: 1.6rem;
            padding: 0 1rem;
        }
    }
}